.body{

}

.cabeçalho{
    background-color: #1f2937;
    display: flex;
    padding-bottom: 50px;
    padding-left: 100px;
    flex-direction: column;
}

.header{
    height: 100px;
    display: flex;
    flex-direction: row;
}

.headerlogo{
    font-size: 24px;
    color: #F9FAF8;
    align-items: flex-start;
}

.headerlinks{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.head{

}

.headmain{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.headsecond{
    font-size: 18px;
    color: #e5e7eb;
}

.headbutton{

}

.headimage{

}

.info{

}

.infotitle{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.infoblocks{

}

.info1{

}

.info2{

}

.info3{

}

.info4{

}

.InspQuote{
    background-color: #E5E7EB;
}

.insptext{
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
}

.inspauthor{

}

.add{

}

.addtext{

}

.addtitle{

}

.addbutton{
    color: #3882f6;
}

.footer{
    background-color: #1f2937;
}